body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 18px;
    background-color: white;
  }
  
  .bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    border-radius: 18px;
    background-color: rgb(50, 175, 216); 
  }
  
  .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(50, 109, 154); /* green background */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .name {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
  }
  
  p {
    color: white;
    text-align: justify;
  }
